<div class="image-details-container">
  <div class="controls row form-group">
    <div class="col-md-4 form-check" *ngIf="hasOcr()">
      <input type="checkbox" class="form-check-input" [(ngModel)]="showOcr" id="ocr-check">
      <label class="form-check-label" for="ocr-check">Show OCR Markup</label>
    </div>
    <div class="col-md-4 form-check" *ngIf="hasFace()">
      <input type="checkbox" class="form-check-input" [(ngModel)]="showFace" id="face-check">
      <label class="form-check-label" for="face-check">Show Face Markup</label>
    </div>
    <div class="col-md-4 form-check" *ngIf="hasYolo()">
      <input type="checkbox" class="form-check-input" [(ngModel)]="showYolo" id="yolo-check">
      <label class="form-check-label" for="yolo-check">Show YOLO Markup</label>
    </div>
  </div>
  <div class="image-container">
    <img *ngIf="hasYolo() && showYolo" style="position: absolute;" [src]="'/images/' + id + '.png'">
    <img [src]="'/raws/' + id">

    <svg style="width: auto;height: 100%" *ngIf="ocrMetadata && faceMetadata" [attr.viewBox]="'0 0 ' + ocrMetadata.imageMetadata.width + ' ' + ocrMetadata.imageMetadata.height">
      <g *ngIf="showOcr">
        <polygon *ngFor="let box of ocrMetadata.lines" [attr.points]="box.boundingBox" style="stroke:red;stroke-width:2;fill-opacity:0" />
      </g>
      <g *ngIf="showFace">
        <rect *ngFor="let box of faceMetadata.obj" [attr.x]="box.faceRectangle.left" [attr.y]="box.faceRectangle.top"
          [attr.width]="box.faceRectangle.width" [attr.height]="box.faceRectangle.height" style="stroke:green;stroke-width:2;fill-opacity:0" />
      </g>
    </svg>
  </div>
  <div *ngIf="showOcr">
    <p *ngFor="let text of ocrSort(ocrMetadata.lines)">
      {{text.text}}
    </p>
  </div>
</div>
