<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Dynamic Image Viewer</a>
    <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarCollapse" aria-label="Toggle navigation"
      type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <app-links></app-links>
    </div>
  </nav>
</header>
<main class="container" role="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Microsoft Copyright &copy; 2018</span>
  </div>
</footer>
