<img class="card-img-top" style="width: 100%; height: 225px; display: block;" alt="Thumbnail [100%x225]" [src]="'/images/' + image">
<div class="card-body">
  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
    longer.</p> -->
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <a class="btn btn-sm btn-outline-secondary" [href]="'/images/' + image">View</a>
      <button class="btn btn-sm btn-outline-secondary" type="button">Edit</button>
    </div>
    <small class="text-muted">9 mins</small>
  </div>
</div>
